<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="contentDao" class="ru.otus.andrk.dao.TestContentDaoCsvResourceImpl">
        <constructor-arg index="0" value="data.csv"/>
    </bean>
    <bean id="contentService" class="ru.otus.andrk.service.TestContentServiceImpl">
        <constructor-arg index="0" ref="contentDao"/>
    </bean>
</beans>
